/*每个页面公共css */

view {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* 字体图标 */
/* @font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1704517_avvq7ii12y5.eot');
  src: url('//at.alicdn.com/t/font_1704517_avvq7ii12y5.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1704517_avvq7ii12y5.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1704517_avvq7ii12y5.woff') format('woff'),
  url('//at.alicdn.com/t/font_1704517_avvq7ii12y5.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1704517_avvq7ii12y5.svg#iconfont') format('svg');
}
.icon {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */
.icon-svg {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

/* 字体样式 */

/* 字体大小 */
.text-size-small {
	font-size: 12px;
}

.text-size-default {
	font-size: 14px;
}

.text-size-big {
	font-size: 20px;
}

/* 字体颜色 */
.text-color-0{
	color: #000;
}
.text-color-3{
	color: #333;
}
.text-color-6{
	color: #666;
}
.text-color-9{
	color: #999;
}
.text-color-c{
	color: #ccc;
}
.text-color-e{
	color: #eee;
}
.text-color-f{
	color: #fff;
}
.text-color-gray {
	color: #808080;
}
.text-color-blue {
	color: #2395ff;
}


/* 背景颜色 */
.bg-grey-fa{
	background-color: #fafafa;
}
.bg-grey-f5{
	background-color: #f5f5f5;
}

.cur-item{
	background-color: #edf5fe;
	color: #3190E8;
	font-weight: 700;
}

.border{
	border-width: 1px;
	border-style: solid;
	border-color: #333333;
}
.border-top{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
}
.border-bottom{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}
.border-left{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;
}
.border-right{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
}
.border-lg{
	border-width: 3px;
}
.border-xl{
	border-width: 5px;
}
.border-style-da{
	border-style: dashed;
}
.border-color-0{
	border-color: #000;
}
.border-color-3{
	border-color: #333;
}
.border-color-6{
	border-color: #666;
}
.border-color-9{
	border-color: #999;
}
.border-color-c{
	border-color: #ccc;
}
.border-color-e{
	border-color: #eee;
}
.border-color-f{
	border-color: #fff;
}

.link-blue{
	color: #2395ff;
}