/*每个页面公共css */

view {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* #ifdef H5 */

.uni-page-head{
	background-image: linear-gradient(90deg, #0af, #0085ff)!important;
}

/* #endif */


.icon-svg {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

/* 字体样式 */

/* 字体大小 */
.text-size-small {
	font-size: 12px;
}

.text-size-default {
	font-size: 14px;
}

.text-size-big {
	font-size: 20px;
}

/* 字体颜色 */
.text-color-0{
	color: #000;
}
.text-color-3{
	color: #333;
}
.text-color-6{
	color: #666;
}
.text-color-9{
	color: #999;
}
.text-color-c{
	color: #ccc;
}
.text-color-e{
	color: #eee;
}
.text-color-d{
	color: #ddd;
}
.text-color-f{
	color: #fff;
}
.text-color-gray {
	color: #808080;
}
.text-color-blue {
	color: #2395ff;
}
.text-color-blue-0{
	color: #00a6ff;
}

.text-color-price{
	color: #ff5339;
}

.text-color-orange{
	color: #ff6000;
}
.text-color-brown{
	color: #594519;
}

/* 背景颜色 */
.fengniao{
    background-image: linear-gradient(90deg,#0af,#0085ff);
    color: #fff;
    border-radius: 1px;
}
.bg-grey-fa{
	background-color: #fafafa;
}
.bg-grey-f5{
	background-color: #f5f5f5;
}
.bg-grey-f7{
	background-color: #f7f7f7;
	color: #666;
}
.bg-grey-f9{
	background-color: #f9f9f9;
	color: #666;
}
.bg-grey-fc{
	background-color: #fcfcfc;
}
.bg-blue-base{
	background-color: #0097ff;
	color: #fff;
}
.bg-e{
	background-color: #eee;
}
.mbg-gradual-blue{
	background-image: linear-gradient(90deg, #0af, #0085ff);
	color: #fff;
}
.app-bg-brown{
	background-color: #594519;
	color: #ffeeab;
}
.app-bg-red{
	background-color: #ff5339;
	color: #fff;
}

.cur-item{
	background-color: #edf5fe;
	color: #3190E8;
	font-weight: 700;
}

.border{
	border-width: 1px;
	border-style: solid;
	border-color: #333333;
}
.border-top{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
}
.border-bottom{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}
.border-left{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;
}
.border-right{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
}
.border-lg{
	border-width: 3px;
}
.border-xl{
	border-width: 5px;
}
.border-style-da{
	border-style: dashed;
}
.border-color-0{
	border-color: #000;
}
.border-color-3{
	border-color: #333;
}
.border-color-6{
	border-color: #666;
}
.border-color-9{
	border-color: #999;
}
.border-color-c{
	border-color: #ccc;
}
.border-color-e{
	border-color: #eee;
}
.border-color-f{
	border-color: #fff;
}
.border-color-blue {
	border-color: #2395ff;
}


.link-blue{
	color: #2395ff;
}

/* 圆角样式 */
.border-radius-3{
	border-radius: 3rpx;
}
.border-radius-6{
	border-radius: 6rpx;
}
.border-radius-10{
	border-radius: 10rpx;
}
.border-radius-20{
	border-radius: 20rpx;
}
.border-radius-30{
	border-radius: 30rpx;
}
.border-radius-40{
	border-radius: 40rpx;
}
.border-radius-50{
	border-radius: 50rpx;
}


/* 按钮样式 */
.btn-bg-green{
	background-color: #00d762;
	color: #fff;
}
.btn-bg-tag{
	background-color: #eef7ff;
	color: #2395ff;
}

/* 标签样式 */
.ele-tag{
	text-align: center;
	font-weight: 700;
	padding: 0 6rpx;
	transform: scale(.8);
	
}
/* 活动标签 */
.activity-tag{
	padding: 0 6rpx;
}
.bg-tag-color-yellow{
	background-image: linear-gradient(-139deg,#fff100,#ffe339);
	color: #6f3f15;
}

/* 文本尺寸缩放 */
.text-scale-5{
	transform: scale(.5);
}
.text-scale-6{
	transform: scale(.6);
}
.text-scale-7{
	transform: scale(.7);
}
.text-scale-8{
	transform: scale(.8);
}
.text-scale-9{
	transform: scale(.9);
}

/* 文本删除线 */
.delete-line{
	text-decoration:line-through;
}


/* 卡片边缘处的半圆分割标记 */
.card-round-icon{
	position: relative;
}
.card-round-icon::before,.card-round-icon::after{
	content: "";
	border-radius: 50%;
	width: 10rpx;
	height: 10rpx;
	background-color: #fff;
	display: block;
	position: absolute;
}
.card-round-icon::before{
	top: -5rpx;
}
.card-round-icon::after{
	bottom: -5rpx;
}