
	page{
		background-color: #fff;
	}
	.store-index-nav{
		position: relative;
		width: 750rpx;
		height: 200rpx;
	}
	.store-cover-bg-box{
		position: absolute;
		width: 750rpx;
		height: 200rpx;
		overflow: hidden;
	}
	.store-cover-bg{
		position: relative;
		top: -20rpx;
		width: 750rpx;
	}
	.store-cover-bg::before{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: linear-gradient(0deg,hsla(0,0%,100%,0),rgba(0,0,0,.5));
	}
	.store-cover-box{
		position: absolute;
		bottom: -30rpx;
		left: 50%;
		margin-left: -75rpx;
	}
	.store-cover{
		width: 150rpx;
		height: 150rpx;
	}
	.nav-back-btn{
		position: relative;
		z-index: 9;
	}
	
	.store-name{
		width: 500rpx;
	}
	
	.red-packets-list,.sale-box,.notice-box{
		width: 100%;
	}
	.red-packets-item{
		width: 300rpx;
		padding-top:5rpx;
		padding-bottom:5rpx;
		position: relative;
	}
	.red-packets-item1{
		color: #594519;
		background: #ffe578;
	}
	
	.red-packets-item2{
	    background: #fff4f4;
	    color: #5c1603;
	}
	
	.red-packets-item::before,.red-packets-item::after{
		content: "";
		border-radius: 50%;
		width: 10rpx;
		height: 10rpx;
		background-color: #fff;
		display: block;
		position: absolute;
		right: 70rpx;
	}
	.red-packets-item::before{
		top: -5rpx;
	}
	.red-packets-item::after{
		bottom: -5rpx;
	}
	
	.sale-tag-item{
		color: rgb(255, 75, 51);
		border: 1px solid rgb(255, 201, 193);
	}
	
	.tab-nav{
		position: sticky;
		top: 0;
		z-index: 9;
	}
	.banner-img{
		width: 686rpx;
	}
	
	.scroll-view_H {
		white-space: nowrap;
		width: 750rpx;
	}
	
	.scroll-view-item {
		height: 300rpx;
		line-height: 300rpx;
		text-align: center;
		font-size: 36rpx;
	}
	.scroll-view-item_H {
		display: inline-flex;
		width: 240rpx;
	}
	.recommend-foods-name{
		width: 240rpx;
	}
	.add-btn-blue{
		color: rgb(35, 149, 255);
	}
	
	
	.star-size{
		width: 120rpx;
		height: 20rpx;
	}
	.star-box{
		position: relative;
	}
	.star-bg{
		position: absolute;
		z-index: 0;
	}
	.star{
		position: relative;
		z-index: 1;
	}
	
	
	.comment-tag-item{
		margin: 8rpx;
	}
	
	.comment-tag-bg{
		color: #6d7885;
		background-color: #ebf5ff;
	}
	.comment-tag-bg.cur{
		color: #fff;
		background-color: #0097ff;
	}
	.comment-tag-bg.bad{
		color: #aaa;
		background-color: #f5f5f5;
	}
	.comment-tag-bg.bad.cur{
		color: #fff;
		background-color: #ccc;
	}
	.icon-color-76d572{
		color: #76d572;
	}
	
	.icon-color-e8{
		color: #e8e8e8;
	}
	
	.user-avatar-box{
		width: 60rpx;
		height: 60rpx;
		overflow: hidden;
	}
	
	.comment-content-img-item{
		overflow: hidden;
	}
	
	.bad{
		color: rgb(137, 159, 188);
	}
	.super-good{
		color: rgb(255, 96, 0);
	}
	
	.store-reply-box{
		background-color: #f3f3f3;
		position: relative;
	}
	.store-reply-box::after{
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent #f3f3f3;
		border-width: 0 18rpx 18rpx;
		top: -18rpx;
	}
	
	.good-goods-tag-item{
		color: #6d7885;
		background-color: #ebf5ff;
		margin: 5rpx;
	}
	
	.store-img-box{
		width: 156rpx;
		height: 156rpx;
		position: relative;
	}
	.store-img-tips{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.6);
		text-align: center;
	}
	
	.store-address{
		width: 500rpx;
	}
	.store-menu{
		position: relative;
		z-index: 9;
		background-color: #fff;
	}
	// 垂直商铺菜单列表相关样式
	.VerticalMain{
		padding-bottom: 100rpx;
		overflow-anchor: auto;
	}
	.VerticalNav.nav {
		width: 200upx;
		white-space: initial;
	}

	.VerticalNav.nav .cu-item {
		width: 100%;
		background-color: #f8f8f8;
		margin: 0;
		border: none;
		height: 50px;
		position: relative;
		line-height: 1.5;
		padding: 0 10rpx;
		display: inline-flex;
	}

	.VerticalNav.nav .cu-item.cur {
		background-color: #fff;
	}

	.VerticalNav.nav .cu-item.cur::after {
		content: "";
		width: 8upx;
		height: 30upx;
		border-radius: 10upx 0 0 10upx;
		position: absolute;
		background-color: currentColor;
		top: 0;
		right: 0upx;
		bottom: 0;
		margin: auto;
	}
	
	.food-category-item{
		position: relative;
	}
	
	// 垂直商铺菜单列表相关样式
	.category-title-box{
		max-width: 600rpx;
	}
	.category-title{
		max-width: 200rpx;
	}
	.category-des,.price-box{
		max-width: 300rpx;
	}
	.food-img-box{
		width: 190rpx;
		height: 190rpx;
	}
	.food-title{
		max-width: 300rpx;
		font-size: 30rpx;
	}
	.sale-tag{
		border: 1px solid hsla(8,79%,62%,.3);
	}
	
	// 底部购物车相关样式
	
	.save-money-tips{
		background-color: #fffad6;
		border-top: 5rpx solid #f9e8a3;
		opacity: .96;
		position: absolute;
		height: 40rpx;
		top: -40rpx;
		left: 0;
		right: 0;
	}
	.shopping-cart-box{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 96rpx;
		background-color: rgba(61,61,63,.9);
		padding-left: 158rpx;
		z-index: 9;
	}
	
	.shopping-cart-icon-box{
		position: absolute;
		width: 100rpx;
		height: 100rpx;
		left: 29rpx;
		bottom: 20rpx;
		background-color: #3190e8;
		border-color: #444;
	}
	
	.shopping-cart-pay-btn-box{
		background-color: #38ca73;
		height: 96rpx;
		width: 210rpx;
	}
	
	// 弹窗区域相关样式
	
	// 弹窗-店铺详情
	.store-info-popup-box{
		width: 600rpx;
	}
	.announcement{
		width: 152rpx;
		background-image: linear-gradient(90deg,#fff,#333 50%,#fff);
		background-size: 100% 1px;
		background-position: 50%;
		background-repeat: no-repeat;
	}
	
	// 弹窗-店铺红包
	.redpack-item{
		border: 1px dotted #eae5b9;
	}
	.member-redpack-item-bg{
		background: #fff4be;
	}
	.redpack-price{
		font-size: 64rpx;
	}
	.redpack-btn-box{
		width: 180rpx;
	}
	.card-round-icon::after,.card-round-icon::before{
		right: 170rpx;
		background-color: #F5F5F5;
		width: 12rpx;
		height: 12rpx;
		border: 1px solid #eae5b9;
	}
	.card-round-icon::after{
		bottom: -6rpx;
		border-bottom: none;
	}
	.card-round-icon::before{
		top: -6rpx;
		border-top: none;
	}
	
	// 开通超级vip弹窗
	.svip-popup-title-box{
		width: 360rpx;
		height: 79rpx;
		position: relative;
	}
	.svip-popup-title-bg{
		width: 360rpx;
		height: 79rpx;
		position: absolute;
		top: -30rpx;
		left: 0;
	}
	.sale-value-box{
		width: 392rpx;
		height: 246rpx;
		position: relative;
	}
	.sale-value-bg{
		width: 392rpx;
		height: 246rpx;
		position: absolute;
		left: 0;
		z-index: 0;
	}
	.sale-value-text{
		width: 243rpx;
		height: 243rpx;
		position: absolute;
		left: 80rpx;
	}
	.svip-popup-info-box{
		width: 320rpx;
	}
	.svip-popup-btn-box{
		width: 100%;
	}
	.svip-popup-btn{
		width: 280rpx;
		background: #fff;
	}
	.svip-popup-btn-open{
		color: #7b460a;
		background-image: linear-gradient(90deg,#ffeda1,#e3c957);
	}
	
	// 广告展示区域
	.banner-item{
		width: 346rpx;
		box-shadow: 0 5rpx 10rpx 0 rgba(0,0,0,.04);
	}
	
	// 商品详情展示页
	.goods-cover-box{
		position: relative;
		
	}
	.goods-cover{
		width: 750rpx;
	}
	.goods-cover-icon{
		position: absolute;
		right: 20rpx;
		top: 20rpx;
	}
	
	// 商品口味弹窗
	.food-taste-box{
		position: relative;
		width: 750rpx;
		height: 1100rpx;
	}
	.food-type-list{
		height: 730rpx;
	}
	.food-taste-close-btn{
		position: absolute;
		right: 20rpx;
		top: 20rpx;
	}
	.food-cover-box{
		width: 190rpx;
	}
	.food-taste-item.cur{
		color: rgb(35, 149, 255);
		background-color: rgba(35, 149, 255, 0.2);
	}
	.confirm-taste-btn{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	// 购物车弹窗
	.shopcart-popup-box{
		padding-bottom: 100rpx;
		width: 750rpx;
	}
	.shopcart-list{
		height: 600rpx;
	}
	
	.add-remove-box{
		max-width: 140rpx;
		justify-content: flex-end;
	}
	.goods-number{
		width: 48rpx;
		text-align: center;
	}